.select-panel {
  button {
    width: 100%;
    border-color: rgb(255, 221, 0);
    &:hover{
        background-color: rgb(255, 221, 0);
    }
  }

  &__grid {
    display: grid;
    margin: 10px 0px;
    grid-auto-rows: 2rem;
    grid-template-columns: repeat(10, 2rem);

    .select {
      border-radius: 100%;
      background-color: rgb(255, 200, 0);
    }

    &>* {
      margin: 1px;
      background-color: rgb(255, 251, 189);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: small;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .porukkapeli{
      display: flex;
    //   justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 10px;
      border-top: 1px solid #ddd ;
      border-bottom: 1px solid #ddd ;
      input{
          margin-right: 10px;
      }
  }
  .pay{
      background-color: #028920 ;
      color: #ffffff;
      border-radius: 20px;
      height: 2.5rem;
  }
}
